*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 350px;
    height: 350px;
    background-color: lime;
    margin: 150px auto;
}
.container h1{
    font-family: sans-serif;
    font-size: 50px;
    color: #fff;
    text-align: center;
    line-height: 350px;
}